@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h5,
p,
a,
small {
  color: white;
  opacity: 0.8;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: url("./images/bg-curvy-desktop.svg");
  background-color: #1c2431;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}

header {
  padding: 3rem 4rem 3rem 4rem;
}

header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-bar .nav-bar-links {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.5;
}

header .nav-bar .nav-bar-links a {
  color: white;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .get-started {
  text-align: center;
  max-width: 750px;
  margin-bottom: 7rem;
}

main .get-started img {
  margin-bottom: 1rem;
}

main .get-started h1 {
  margin-bottom: 1rem;
}

main .get-started p {
  margin-bottom: 1rem;
}

main .get-started button {
  width: 170px;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  height: 35px;
  border-radius: 25px;
  border: none;
  color: white;
  outline: none;
}

main .info-cards {
  margin-bottom: 4rem;
}

main .info-cards .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

main .info-cards .row .card {
  width: 425px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

main .info-cards .row .card img {
  margin-bottom: 2rem;
}

main .stay-productive {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1024px;
}

main .stay-productive .illustration-main {
  width: 400px;
  margin-right: 3rem;
}

main .stay-productive .stay-productive-content h2 {
  margin-bottom: 1rem;
}

main .stay-productive .stay-productive-content p {
  margin-bottom: 1rem;
}

main .stay-productive .stay-productive-content .stay-productive-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #65e2d9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .stay-productive .stay-productive-content .stay-productive-link a {
  text-align: start;
  color: #65e2d9;
  margin-right: 0.3rem;
}

main .stay-productive .stay-productive-content .stay-productive-link a img {
  padding-top: 1rem;
}

main .endorsements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 1024px;
}

main .endorsements .quotes {
  position: absolute;
  top: 0px;
  left: -5px;
}

main .endorsements .card {
  border-radius: 5px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #202a3c;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  margin-right: 1rem;
  height: 200px;
}

main .endorsements .card .avatar {
  padding: 1rem 1rem 0 0;
}

main .endorsements .card .avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.5rem;
  float: left;
}

main .early-access-container {
  position: relative;
  height: 180px;
  width: 650px;
}

main .early-access-container .early-access {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  width: 650px;
  background-color: #1c2431;
  padding: 2rem;
  text-align: center;
}

main .early-access-container .early-access .form-container {
  margin-top: 1.5rem;
}

main .early-access-container .early-access .form-container input {
  width: 380px;
  height: 35px;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 1rem;
}

main .early-access-container .early-access .form-container button {
  width: 170px;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  height: 35px;
  border-radius: 25px;
  border: none;
  color: white;
  margin-left: 1rem;
}

footer {
  background-color: #0b1523;
  padding: 10rem 4rem 3rem 4rem;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

footer .footer-container .fylo-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 5rem;
}

footer .footer-container .fylo-about img {
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

footer .footer-container .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 8rem;
}

footer .footer-container .contact-details .contact-details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

footer .footer-container .contact-details .contact-details-item img {
  margin-right: 1rem;
}

footer .footer-container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-right: 5rem;
  width: 180px;
}

footer .footer-container .links a {
  margin-bottom: 0.5rem;
}

footer .footer-container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-container .social-icons .fa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin-right: 1rem;
  border-radius: 50%;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer .footer-container .social-icons .fa:nth-child(3) {
  margin-right: unset;
}

footer .footer-container .social-icons .fa:hover {
  color: #65e2d9;
  border: 1px solid #65e2d9;
}

footer .footer-container .social-icons .fa-facebook {
  background: transparent;
  border: 1px solid white;
  color: white;
}

footer .footer-container .social-icons .fa-twitter {
  background: transparent;
  color: white;
  border: 1px solid white;
}

footer .footer-container .social-icons .fa-instagram {
  background: transparent;
  color: white;
  border: 1px solid white;
}

@media screen and (max-width: 675px) {
  header {
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  header .nav-bar {
    width: 100%;
  }
  header .nav-bar img {
    width: 64px;
  }
  header .nav-bar .nav-bar-links {
    width: unset;
  }
  header .nav-bar .nav-bar-links a {
    margin-right: 1rem;
  }
  main .get-started {
    width: 100vw;
    padding: 0 3rem;
    margin-bottom: 3rem;
  }
  main .get-started img {
    width: 100%;
  }
  main .info-cards {
    padding: 3rem;
    margin-bottom: unset;
  }
  main .info-cards .row {
    display: unset;
  }
  main .info-cards .row .card {
    width: unset;
    height: unset;
    padding: unset;
    margin-bottom: 5rem;
  }
  main .info-cards .row .card:nth-child(3) {
    margin-bottom: 0px;
  }
  main .stay-productive {
    padding: 3rem;
    display: unset;
    width: 100%;
  }
  main .stay-productive .illustration-main {
    width: 100%;
    margin-right: unset;
  }
  main .endorsements {
    display: unset;
    width: 100%;
    padding: 3rem;
  }
  main .endorsements .quotes {
    left: 3rem;
    top: 1rem;
    z-index: -999;
  }
  main .endorsements .card {
    margin: unset;
    margin-bottom: 1.5rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5rem 1rem;
  }
  main .endorsements .card:nth-child(4) {
    margin-bottom: unset;
  }
  main .early-access-container {
    padding: unset;
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem;
  }
  main .early-access-container .early-access {
    width: 100%;
  }
  main .early-access-container .early-access .form-container input {
    width: 100%;
    margin-bottom: 1rem;
  }
  main .early-access-container .early-access .form-container button {
    width: 100%;
    margin-left: unset;
  }
  footer {
    padding: 3rem;
    margin-top: 20rem;
  }
  footer .footer-container {
    display: unset;
  }
}
/*# sourceMappingURL=index.css.map */