// Headings, Call-to-actions, Header Navigation
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

// Body
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

// Accent
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);

// Neutral
$white: hsl(0, 0%, 100%);

$cyan-to-blue-gradient: linear-gradient(to right, $cyan, $blue);

// Primary
// - Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
// - Dark Blue (main background): hsl(218, 28%, 13%)
// - Dark Blue (footer background): hsl(216, 53%, 9%)
// - Dark Blue (testimonials background): hsl(219, 30%, 18%)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h5,
p,
a,
small {
  color: $white;
  opacity: 0.8;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: url("./images/bg-curvy-desktop.svg");
  background-color: hsl(217, 28%, 15%);
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}

header {
  padding: 3rem 4rem 3rem 4rem;

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-bar-links {
      width: 250px;
      display: flex;
      justify-content: space-between;
      opacity: 0.5;
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .get-started {
    text-align: center;
    max-width: 750px;
    margin-bottom: 7rem;

    img {
      margin-bottom: 1rem;
    }

    h1 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }

    button {
      width: 170px;
      background-image: $cyan-to-blue-gradient;
      height: 35px;
      border-radius: 25px;
      border: none;
      color: $white;
      outline: none;
    }
  }

  .info-cards {
    margin-bottom: 4rem;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      .card {
        width: 425px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 2rem;

        img {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .stay-productive {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    width: 1024px;

    .illustration-main {
      width: 400px;
      margin-right: 3rem;
    }

    .stay-productive-content {
      h2 {
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 1rem;
      }

      .stay-productive-link {
        display: flex;
        justify-content: start;
        align-items: center;
        border-bottom: 1px solid $cyan;
        width: fit-content;

        a {
          text-align: start;
          color: $cyan;
          margin-right: 0.3rem;

          img {
            padding-top: 1rem;
          }
        }
      }
    }
  }

  .endorsements {
    display: flex;
    position: relative;
    align-items: start;
    width: 1024px;

    .quotes {
      position: absolute;
      top: 0px;
      left: -5px;
    }

    .card {
      border-radius: 5px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      background-color: hsl(219, 30%, 18%);
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 2rem 1rem;
      margin-right: 1rem;
      height: 200px;

      .avatar {
        padding: 1rem 1rem 0 0;

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-right: 0.5rem;
          float: left;
        }
      }
    }
  }

  .early-access-container {
    position: relative;
    height: 180px;
    width: 650px;
    .early-access {
      border-radius: 5px;
      position: absolute;
      top: 50%;
      width: 650px;
      background-color: hsl(217, 28%, 15%);
      padding: 2rem;
      text-align: center;

      .form-container {
        margin-top: 1.5rem;

        input {
          width: 380px;
          height: 35px;
          border-radius: 25px;
          border: none;
          outline: none;
          padding: 1rem;
        }

        button {
          width: 170px;
          background-image: $cyan-to-blue-gradient;
          height: 35px;
          border-radius: 25px;
          border: none;
          color: $white;
          margin-left: 1rem;
        }
      }
    }
  }
}

footer {
  background-color: hsl(216, 53%, 9%);
  padding: 10rem 4rem 3rem 4rem;

  .footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1rem;

    .fylo-about {
      display: flex;
      align-items: flex-start;
      margin-right: 5rem;
      // width: 30%;

      img {
        margin-right: 0.5rem;
        margin-top: 0.3rem;
      }
    }

    .contact-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 8rem;

      .contact-details-item {
        display: flex;
        margin-bottom: 1rem;

        img {
          margin-right: 1rem;
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: left;

      margin-right: 5rem;
      width: 180px;

      a {
        margin-bottom: 0.5rem;
      }
    }

    .social-icons {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .fa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        margin-right: 1rem;
        border-radius: 50%;
        opacity: 0.8;
        transition: all 0.3s;

        &:nth-child(3) {
          margin-right: unset;
        }
      }

      .fa:hover {
        color: $cyan;
        border: 1px solid $cyan;
      }

      .fa-facebook {
        background: transparent;
        border: 1px solid $white;
        color: white;
      }

      .fa-twitter {
        background: transparent;
        color: white;
        border: 1px solid $white;
      }

      .fa-instagram {
        background: transparent;
        color: white;
        border: 1px solid $white;
      }
    }
  }
}

@media screen and (max-width: 675px) {
  header {
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
    .nav-bar {
      width: 100%;
      img {
        width: 64px;
      }

      .nav-bar-links {
        width: unset;

        a {
          margin-right: 1rem;
        }
      }
    }
  }

  main {
    .get-started {
      width: 100vw;
      padding: 0 3rem;
      margin-bottom: 3rem;
      img {
        width: 100%;
      }
    }

    .info-cards {
      padding: 3rem;
      margin-bottom: unset;
      .row {
        display: unset;

        .card {
          width: unset;
          height: unset;
          padding: unset;
          margin-bottom: 5rem;

          &:nth-child(3) {
            margin-bottom: 0px;
          }
        }
      }
    }

    .stay-productive {
      padding: 3rem;
      display: unset;
      width: 100%;

      .illustration-main {
        width: 100%;
        margin-right: unset;
      }
    }

    .endorsements {
      display: unset;
      width: 100%;
      padding: 3rem;

      .quotes {
        left: 3rem;
        top: 1rem;
        z-index: -999;
      }

      .card {
        margin: unset;
        margin-bottom: 1.5rem;
        height: fit-content;
        padding: 1.5rem 1rem;

        &:nth-child(4) {
          margin-bottom: unset;
        }
      }
    }

    .early-access-container {
      padding: unset;
      width: 100vw;
      height: fit-content;
      padding: 1rem;

      .early-access {
        // top: 50%;
        width: 100%;
        // padding: 0.5rem;

        .form-container {
          // display: unset;

          input {
            width: 100%;
            margin-bottom: 1rem;
          }

          button {
            width: 100%;
            margin-left: unset;
          }
        }
      }
    }
  }

  footer {
    padding: 3rem;
    margin-top: 20rem;
    .footer-container {
      display: unset;
    }
  }
}
