// Headings, Call-to-actions, Header Navigation
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

// Body
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

// Accent
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);

// Neutral
$white: hsl(0, 0%, 100%);

// Primary
// - Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
// - Dark Blue (main background): hsl(218, 28%, 13%)
// - Dark Blue (footer background): hsl(216, 53%, 9%)
// - Dark Blue (testimonials background): hsl(219, 30%, 18%)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h5,
p,
small {
  color: $white;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: hsl(218, 28%, 13%) url("./images/bg-curvy-desktop.svg") no-repeat;
}
